.genericDiv {
  width: 90%;
  margin: 0 auto;
  background-color: aliceblue;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  height: 80vh;
  text-align: center;
}

.genericDiv > p {
  text-decoration: overline;
}

.genericDiv > div {
  border-top: 1px dashed rgb(172, 169, 169);
}

.footer {
  width: 100%;
  margin: 0 auto;
  height: 5rem;
  background-image: linear-gradient(
    to bottom right,
    rgb(248, 205, 212),
    rgb(197, 100, 116)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
